# Created by https://www.toptal.com/developers/gitignore/api/node,web
# Edit at https://www.toptal.com/developers/gitignore?templates=node,web

### Node ###
# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# dotenv environment variable files
.env

# Gatsby files
.cache/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# SvelteKit build / generate output
.svelte-kit

# bdd
views/static/log.txt
views/static/fichier.json
pocketbase.exe
pocketbase
pb_data/
pb_migrations/